POSTGRES_USER=admin
POSTGRES_PASSWORD=secret
POSTGRES_DB=veiculos_db
DATABASE_URL=postgresql+asyncpg://admin:secret@db:5432/veiculos_db

LLM_PROVIDER=OPENAI
LLM_MODEL=gpt-4-turbo
LLM_API_KEY=sk-#####

MCP_SERVERS=SSE,http://server:8000/mcp